:root {
    --main-pink: #f28c97;
    --dark-pink: #f26b7d;
    --pink-bg: #f3b0b4;
    --grey-bg: #f3f2f1;
}

html {
    width: 100%;
}

body {
    background-color: var(--grey-bg);
    color: black;
    font-family: "Raleway", sans-serif, Arial, Helvetica;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 100vw;
    margin: 0 auto;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    width: 70rem;
    color: var(--dark-pink);
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    margin: 10% auto 0 auto;
}

.small {
    font-size: 0.8rem;
}

.pink-underline {
    text-decoration: underline var(--main-pink);
}

.section-a {
    padding: 15% 20%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

.seperation {
    border-style: solid;
    border-color: var(--main-pink);
    width: 90%;
    justify-self: center;
}

h2,
.margin-bottom,
.link-flex {
    margin-bottom: 2rem;
}

h2 {
    font-weight: 400;
    color: var(--dark-pink);
}

h3 {
    color: var(--dark-pink);
}

/* HEADER */
header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.inner-header img {
    max-width: 4.5rem;
}

.navigation {
    align-self: self-end;
}

.underline {
    margin: 1.9rem;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--main-pink);
    border-radius: 0.3rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.underline:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.underline:hover,
.underline:active {
    color: var(--main-pink);
}

.touch {
    background-color: var(--main-pink);
    color: var(--grey-bg);
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.touch:hover {
    background-color: var(--grey-bg);
    color: var(--main-pink);
    outline: solid var(--main-pink);
}

/* HOME SECTION */
#home-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5%;
}

.home-information {
    font-size: 1.3rem;
}

.user {
    color: var(--main-pink);
    align-self: center;
}

/* ABOUT SECTION */
#about-section {
    text-align: center;
}

#about-section p {
    max-width: 40rem;
    margin: auto;
    padding-bottom: 2rem;
}

#about-section h2 {
    max-width: 40rem;
    margin: auto auto 2rem auto;
}

.avatar {
    width: 60%;
}

/* PORTFOLIO SECTION */
#portfolio-section {
    padding: 15% 5%;
    gap: 4rem;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
}

.card-img {
    width: 100%;
    height: 15rem;
    border-radius: 8px 8px 0 0;
}

.card {
    width: 380px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.center {
    width: min-content;
}

.card-text {
    padding: 15px;
}

.card-text h3,
.card-text p {
    margin: 0;
    padding: 5px 0;
}

.link-flex {
    display: flex;
    margin-top: 15px;
    gap: 1rem;
}

.weight {
    font-weight: 500;
}

.fa-link,
.fa-github,
.fa-linkedin {
    font-size: 2rem;
    color: var(--dark-pink);
}

.fa-link:hover,
.fa-github:hover,
.fa-linkedin:hover {
    transform: scale(1.3);
}

.website-link,
.github-link {
    text-align: center;
}

/* CONTACT */

#contact-section {
    background-color: var(--pink-bg);
    padding: 3% 0;
    margin: 0;
}

#contact-section h2 {
    text-align: center;
    background-color: var(--grey-bg);
    width: 18rem;
    height: 3rem;
    border-radius: 0.2rem;
    justify-self: center;
    align-content: center;
}

/* FOOTER */
footer {
    margin: 0 10%;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        background: var(--grey-bg);
        width: 100%;
        top: 3.7rem;
        left: 0;
        text-align: center;
        border-bottom: #ee7b7b solid;
    }

    header {
        height: 3.75rem;
        position: sticky;
        z-index: 10;
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        padding-right: 1rem;
    }

    header .menu-hide {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        padding: 1.5rem 1.5rem;
    }

    .copyright p {
        text-align: center;
    }

    .touch {
        color: black;
        background-color: var(--grey-bg);
        padding: 1.9rem 0 3rem 0;
    }

    .hamburger-menu {
        margin-top: 0.4rem;
    }

    .menu-open,
    .menu-close {
        font-size: 1.4rem;
    }

    .nav-open {
        display: flex;
    }

    .underline::before {
        display: none;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    h1 {
        width: 40rem;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .section,
    .section-a {
        padding: 10%;
    }

    .inner-header,
    .seperation {
        width: 85%;
    }

    .card-flex {
        justify-content: center;
    }

    .card {
        width: 310px;
        height: 520px;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .section,
    .section-a {
        padding: 5%;
    }

    .section-a {
        padding: 15% 10%;
    }

    h1 {
        width: 20rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .card-flex {
        justify-content: center;
    }

    .card-flex h2 {
        font-size: 1.5rem;
    }

    .card {
        width: 280px;
        height: 560px;
    }

    .link-flex {
        margin: 0;
    }

    #home-section {
        flex-direction: column;
        gap: 1.7rem;
    }

    #home-section p {
        text-align: center;
    }

    .inner-header,
    .seperation {
        width: 80%;
    }
}

/* MEDIA QUERIES DESKTOP */
@media only screen and (min-width: 1181px) {
    .hamburger-menu {
        display: none;
    }
}
