html {
    width: 100%;
}

body {
    margin: 0;
    background-color: #eeee;
    color: black;
    font-family: "Raleway", sans-serif, Arial, Helvetica;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 100vw;
    margin: 0 auto;
}

.all-sections {
    margin: 10%;
}

h1 {
    text-align: center;
    font-size: 8rem;
    margin: 13% 5% 0 5%;
}

.small {
    font-size: 0.8rem;
}

.pink-underline {
    text-decoration: underline #ee7b7b;
}

.pink-text {
    color: #ee7b7b;
}

.section {
    padding: 15% 20%;
}

.seperation {
    border-style: solid;
    border-color: #ee7b7b;
}

h2,
.margin-bottom,
.link-flex {
    margin-bottom: 2rem;
}

.weight {
    font-weight: 500;
}

/* HEADER */
header {
    height: 5rem;
    background-color: #eeeeeef6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.inner-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.heart {
    color: #ee7b7b;
    font-size: 2rem;
}

/* .heart:hover {
    transform: scale(1.3)
} */

.navigation {
    align-self: self-end;
}

.underline {
    margin: 1.9rem;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.2rem;
    background-color: #ffb2b2;
    border-radius: 0.3rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.underline:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.underline:hover,
.underline:active {
    color: #ee7b7b;
}

.touch {
    background-color: #ee7b7b;
    color: #e7dfd4;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.touch:hover {
    background-color: black;
    color: #ee7b7b;
}

/* HOME SECTION */
#home-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5%;
}

.home-information {
    font-size: 1.3rem;
}

.user {
    color: #ee7b7b;
    align-self: center;
}

/* ABOUT SECTION */
#about-section p {
    max-width: 40rem;
    margin: auto;
}

#about-section h2 {
    max-width: 40rem;
    margin: auto auto 2rem auto;
}

/* PORTFOLIO SECTION */
#portfolio-section {
    padding: 15% 5%;
    gap: 4rem;
}

.card-img {
    width: 45rem;
    height: 33rem;
    border-radius: 0.3rem 0.3rem 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.3rem;
    width: max-content;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.card-text {
    margin: 0 4rem;
}

.card-text p {
    box-sizing: border-box;
    max-width: 30rem;
}

.link-flex {
    display: flex;
    gap: 2rem;
}

.fa-link,
.fa-github,
.fa-linkedin {
    font-size: 2rem;
}

.fa-link:hover,
.fa-github:hover,
.fa-linkedin:hover {
    transform: scale(1.3);
}

.website-link,
.github-link {
    text-align: center;
}

/* FOOTER */
footer {
    border-top: #ee7b7b solid;
    margin: 0 10%;
}

footer p {
    text-align: center;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        background: #eeeeee;
        width: 100%;
        top: 3.7rem;
        left: 0;
        text-align: center;
        border-bottom: #ee7b7b solid;
    }

    header {
        height: 3.75rem;
        position: sticky;
        z-index: 10;
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        padding-right: 1rem;
    }

    header .menu-hide {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        padding: 1.5rem 1.5rem;
    }

    .copyright p {
        text-align: center;
    }

    .touch {
        color: black;
        background-color: #eeeeee;
        padding: 1.9rem 0 3rem 0;
    }

    .hamburger-menu {
        margin-top: 0.4rem;
    }

    .menu-open,
    .menu-close {
        font-size: 1.4rem;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    h1 {
        font-size: 4.3rem;
    }

    .all-sections {
        margin: 8%;
    }

    .section {
        padding: 15% 15%;
    }

    .inner-header {
        width: 85%;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        font-size: 90%;
    }

    .all-sections {
        margin: 5%;
    }

    .section {
        padding: 15% 10%;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 3rem;
    }

    .card-img {
        width: 23rem;
        height: 17rem;
    }

    .card-text p,
    h3 {
        max-width: 20rem;
        margin: 5% auto;
    }

    .card-text {
        margin: 0 1rem;
    }

    #home-section {
        flex-direction: column;
        gap: 1.7rem;
    }

    #home-section p {
        text-align: center;
    }

    .inner-header {
        width: 80%;
    }
}

/* MEDIA QUERIES DESKTOP */
@media only screen and (min-width: 1180px) {
    .hamburger-menu {
        display: none;
    }
}

@media only screen and (min-width: 1180px) and (max-width: 1419px) {
    h1 {
        font-size: 6rem;
    }
}
